.App {
  text-align: center;

}

.App-logo {
  min-height: 46px;
  height: 6vmin;
  pointer-events: none;
}

.App-body {
  align-items: center;
  margin: 0 auto;
  float: none;
}

.Content-Box {
  align-items: center;
  display: flex;
  flex: 'flex-grow';
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: linear-gradient(to left, #3eadee, #2dc2f0e1)
}

.App-link {
  color: #61dafb;
}